
.product-footer-container {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
}


.product-footer-container {
    width: 90%;
    margin: 50px auto;
    color: gray;
}


@media only screen and (max-width: 600px) {

    .product-footer-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }

    .featured-container {
        font-size: 0.7rem;
    }
}

