.featured-container {
    /* border: 2px solid red; */
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    background-color: #D4F7F6;
            /* background-image: linear-gradient(0deg, #f9ecf0 0%, #cff9f7 100%) !important; */
    position: sticky;
    top:0;
    height:120px;    
    padding: 10px;
    border-radius: 5px ;
}


.featured-container h1 {
    color: #6E4E39;
    margin-bottom: 5px;
}

.featured-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.item-listed {
    color: #6E4E39;
}


@media only screen and (max-width: 600px) {

    .product-footer-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }

    .featured-container {
        font-size: 0.7rem;
    }
}

