
.product-footer-container {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
}

.img-product {
    height: 250px;
    width: 200px;
    cursor: pointer;
    padding: 5px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.btn-buy,
.btn-paynow {
    width: 300px;
    height: 50px;
    color: white;
    background-color: #8687C0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.checkout-item-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-top: 1px solid #F8F8FB;
    border-bottom: 1px solid #EBEBEB;
}

.img-checkout {
    height: 85px;
    width: 75px;
    padding-top: 5px;
}

.payment-header {
    margin-top: 35px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: #3D3D3D;
    margin-bottom: 20px;
}

.checkout-order,
.checkout-delivery,
.checkout-summary {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.checkout-order {
    font-size: 0.9rem;
    font-weight: normal;
}

.checkout-delivery {
    font-size: 1.0rem;
}

.checkout-summary {
    font-size: 1.2rem;
}

.product-main-container {
    margin: 50px auto;
    width: 80%;
}

.product-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;   */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

.item-individual {
    height: 350px;
    width: 200px;
}

.item-name-price {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-weight: bold;
}

.product-footer-container {
    width: 90%;
    margin: 50px auto;
    color: gray;
}

.checkout-main-container {
    margin: 50px auto;
    width: 70%;
    max-width: 600px;
}

.checkout-main-container h1 {
    color: #070605;
    margin: 25px 0;
}

.left-items :nth-child(1) {
    color: #3D3D3D;
    font-size: 18px;
    font-weight: bold;
}

.left-items :nth-child(2) {
    color: #D6D6D6;
    font-size: 16px;
}

.left-items :nth-child(3) {
    color: #8F8F8F;
    font-size: 12px;
    font-weight: bold;
}

.add-card {
    font-size: 13px;
    color: #8F8F8F;
    margin-bottom: 15px;
}







.special-design {
    color: #8F8F8F !important;
    font-size: 14px;
    padding: 5px;
}


@media only screen and (max-width: 730px) {
    .visa-container {
        height: 200px;
        border-radius: 15px;
        background-color: #8687C0;
        cursor: pointer;
    }

    .visa-title {
        font-family: 'Cantarell',
            sans-serif;
        color: white;
        font-size: 2rem;
        margin: 10px 25px 25px 25px;
    }

    .visa-number {
        display: flex;
        justify-content: space-between;
        margin: 10px 25px 15px 25px;
        color: #D6D6D6;
        font-size: 1rem;
        align-items: flex-end
    }

    .visa-holder-heading {
        display: flex;
        justify-content: space-between;
        margin: 10px 25px 3px 25px;
        color: #D6D6D6;
    }

    .visa-holder-details {
        display: flex;
        justify-content: space-between;
        margin: 5px 25px 25px 25px;
        color: #F8F8F8;
    }
}


@media only screen and (max-width: 464) {
    .visa-container {
        height: 100px;
        border-radius: 15px;
    }

    .visa-title {
        font-family: 'Cantarell',
            sans-serif;
        color: white;
        font-size: 1rem;
        margin: 5px 12px 12px 12px;
    }

    .visa-number {
        display: flex;
        justify-content: space-between;
        margin: 5px 12px 7px 12px;
        color: #D6D6D6;
        font-size: 0.2rem;
        align-items: flex-end
    }

    .visa-holder-heading {
        display: flex;
        justify-content: space-between;
        margin: 5px 12px 1px 12px;
        color: #D6D6D6;
    }

    .visa-holder-details {
        display: flex;
        justify-content: space-between;
        margin: 2px 12px 12px 12px;
        color: #F8F8F8;
    }


}


@media only screen and (max-width: 600px) {

    .product-footer-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }

    .featured-container {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 460px) {

    .left-items :nth-child(1) {
        color: #3D3D3D;
        font-size: 14px;
        font-weight: bold;
    }

    .left-items :nth-child(2) {
        color: #D6D6D6;
        font-size: 12px;
    }

    .left-items :nth-child(3) {
        color: #8F8F8F;
        font-size: 8px;
        font-weight: bold;
    }
}