.featured-container {
    /* border: 2px solid red; */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


.featured-container h1 {
    color: #6E4E39;
    margin-bottom: 5px;
}

.featured-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.item-listed {
    color: #6E4E39;
}


@media only screen and (max-width: 600px) {

    .product-footer-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }

    .featured-container {
        font-size: 0.7rem;
    }
}

