


.visa-container {
    height: 300px;
    border-radius: 15px;
    background-color: #8687C0;
    cursor: pointer;
}

.visa-title {
    font-family: 'Cantarell',
        sans-serif;
    color: white;
    font-size: 3rem;
    margin: 20px 50px 50px 50px;
}

.visa-number {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 30px 50px;
    color: #D6D6D6;
    font-size: 2rem;
    align-items: flex-end
}

.visa-holder-heading {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 5px 50px;
    color: #D6D6D6;
}

.visa-holder-details {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px 50px 50px;
    color: #F8F8F8;
}

.visa-pink {
    background-color: #FF2A2A !important;
}

.visa-blue {
    background-color: #2a6eff !important;
}




@media only screen and (max-width: 730px) {
    .visa-container {
        height: 200px;
        border-radius: 15px;
        background-color: #8687C0;
        cursor: pointer;
    }

    .visa-title {
        font-family: 'Cantarell',
            sans-serif;
        color: white;
        font-size: 2rem;
        margin: 10px 25px 25px 25px;
    }

    .visa-number {
        display: flex;
        justify-content: space-between;
        margin: 10px 25px 15px 25px;
        color: #D6D6D6;
        font-size: 1rem;
        align-items: flex-end
    }

    .visa-holder-heading {
        display: flex;
        justify-content: space-between;
        margin: 10px 25px 3px 25px;
        color: #D6D6D6;
    }

    .visa-holder-details {
        display: flex;
        justify-content: space-between;
        margin: 5px 25px 25px 25px;
        color: #F8F8F8;
    }
}


@media only screen and (max-width: 464) {
    .visa-container {
        height: 100px;
        border-radius: 15px;
    }

    .visa-title {
        font-family: 'Cantarell',
            sans-serif;
        color: white;
        font-size: 1rem;
        margin: 5px 12px 12px 12px;
    }

    .visa-number {
        display: flex;
        justify-content: space-between;
        margin: 5px 12px 7px 12px;
        color: #D6D6D6;
        font-size: 0.2rem;
        align-items: flex-end
    }

    .visa-holder-heading {
        display: flex;
        justify-content: space-between;
        margin: 5px 12px 1px 12px;
        color: #D6D6D6;
    }

    .visa-holder-details {
        display: flex;
        justify-content: space-between;
        margin: 2px 12px 12px 12px;
        color: #F8F8F8;
    }


}
